.sidebar, .grader {
    position: fixed;
    padding: 2em;
}

md-icon {
    margin: 12px;
    cursor: pointer;
}

.sidebar {
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    border-right: 2px solid black;
}

.files {
    height: calc(0.85 * (100% - 4em));
    overflow-y: scroll;
}

.all {
    height: calc(0.15 * (100% - 4em));
}

#all {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grader {
    top: 0;
    left: 30vw;
    width: 70vw;
    height: 100vh;

    text-align: center;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.submission, .name-and-grade {
    display: flex;
    flex-direction: row;
}

.submission-name, .name {
    display: flex;
    flex: 2;
}

.submission-name {
    cursor: pointer;
}

.submission-remove, .grade {
    display: flex;
    flex: 1;
}

.grade {
    border-radius: 2em;
    font-size: 6em;
    padding: 1em;
    height: 8em;
    text-align: right;
}

.card {
    padding: 2em;
    margin: 2em;
    border: 2px solid #6750a4;
    border-radius: 2em;
    background: #d9cff1;
    width: 50vw;
    height: min-content;
}