.sidebar, .grader {
    position: fixed;
    overflow-y: auto;
    padding: 2em;
}

md-icon {
    margin: 12px;
    cursor: pointer;
}

.sidebar {
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    border-right: 2px solid black;
}

.grader {
    top: 0;
    left: 30vw;
    width: 70vw;
    height: 100vh;
}

.hidden {
    display: none;
}

.submission {
    display: flex;
    flex-direction: row;
}

.submission-name {
    display: flex;
    flex: 2;
}

.submission-remove {
    display: flex;
    flex: 1;
}